main {
  padding: 40px;
  background: #f5f5f5;
}

/* Container for all products */
.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

/* Each product card */
.product ul {
  list-style: none;
  margin: 0;
  padding: 12px 14px 14px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #0e0e0e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

  /* make button stick to bottom */
  display: flex;
  flex-direction: column;
}

/* Product fields */
.product li {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #333;
}

/* First item (title) styled stronger */
.product li:first-child {
  font-weight: 600;
  margin-bottom: 8px;
}

/* Description smaller & muted */
.product li:nth-child(2) {
  font-size: 0.8rem;
  color: #0d0d0d;
  font-weight: 800;
}

/* Category badge style */
.product li:nth-child(3) {
  font-size: 0.7rem;
  color: #555;
}
.product li:nth-child(4) {
  font-size: 0.8rem;
  color: #555;
  font-weight: 700;
}

/* Price highlighted */
.product li:nth-child(5) {
  font-weight: 700;
  color: #e91e63;
  font-size: 1rem;
}
.product img {
  width: 100%;
  height: 50%;
}
.product-rating {
  font-size: 1rem;
  color: #333;
  font-weight: 700;
}
/* Responsive */
@media (max-width: 700px) {
  main {
    padding: 20px;
  }

  .product li:first-of-type {
    font-size: 0.8rem;
  }

  .product li:nth-of-type(2) {
    font-size: 0.6rem;
  }

  .product li:nth-of-type(3),
  .product li:nth-of-type(4),
  .product li:nth-of-type(5) {
    font-size: 0.7rem;
  }

  .product-rating {
    font-size: 0.7rem;
  }
}
.add-btn {
  margin-top: auto;               /* pushes button to bottom of card */
  color: #fff;
  border: none;
  font-weight: 700;
  margin-left: 0;
  background: transparent;
  margin-left: 0;
  cursor: pointer;
  &:active{
    transform: scale(0.9);
    transition: 1s;
  }
}
.added{
 
  border-radius: 10px;
   padding: 10px 14px;
  background-color: rgb(216, 60, 167);
}
.remove{
  border-radius: 10px;
   padding: 10px 14px;
  background-color: rgb(216, 60, 89);
}
